

.cards-cadastro {
    background-color: #B82601;
    color: #ffffff;

}

.black {
    color: black;

}

.btn-secondary {
    color: #fff;
    background-color: #062F4F !important;
    border-color: #062F4F !important;
}

